<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>registration_web_app</title>
    <link rel="stylesheet" href="registration_number.css">
  </head>
  <body>
    <div class="Main">
    <h1>Registration Number</h1>

<form class="" action="/reg_number" method="post">
<div class="TextArea">
  <input type="text" name="plate" placeholder="enter regNo" class="myText">
</div>
<br>
<input type="submit"  value="add" class="myButton">
<br><br>
{{#if messages.error}}
<div class="error">
  {{messages.error}}
</div>
<div class="success">
  {{messages.sucess}}
</div>

{{/if}}
<br>
<br>
    <div class="myList">
    <ul>
      {{#each regisNumber}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
</form>
<form class="" action="/filter" method="post">
  <input type="radio" id="f-option" name="Town" value="CA"><label for="f-option">Cape Town</label>
<input type="radio" id="f-option" name="Town" value="CK"><label for="f-option">Malmesbury</label>
<input type="radio" id="f-option" name="Town" value="CY"><label for="f-option">Bellville</label>
<input type="radio" id="f-option" name="Town" value="All" class="towns"><label for="f-option">ALL</label><br><br>
  <input type="submit"  value="Show" class="myButton">
</form>
</div>
  </body>
</html>
