body{
  background-color: #add4d6;
}
ul>li{
  font-family: arial;
    font-size: 22px;
    width: 200px;
    border: 10px solid black;
    border-radius: 10%;
    background-color: #d3d3d3;
  list-style: none;
    display: inline-block;
}
.myList{
background-color: whitesmoke;

}
.error{
  color: red;
}
.success{
  color: green;
}
